@tailwind base;
@tailwind components;
@tailwind utilities;
/* FAEBD7 */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100dvh;
  font-family: 'Afacad', sans-serif;

}


@layer base {
  :root {
    --radius: 0.5rem;
  }
}


