@tailwind base;
@tailwind components;
@tailwind utilities;
/* FAEBD7 */
:root {
  --background: white;
  --foreground: #4A3728;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #4A3728;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100dvh;
}


