.checkout__products {
  width: 360px;
  height: calc(100dvh - 58px);
  top: 60px;
  background: white;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 12px;
  border-radius: 0 0 0 12px;
  flex-direction: column;
  z-index: 3;

}

.checkout__products-content { 
  min-height: calc(100dvh - 58px - 120px);

  max-height: calc(100dvh - 58px - 120px);
  overflow-y: scroll;
}

@media (max-width: 640px) {
  .checkout__products {
    width: 100%;
    height:calc(100vh - 58px);
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 10;
  }
}